<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='css/images/icons/covid-19-96.png')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='csspred/vendor/bootstrap/css/bootstrap-grid.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='csspred/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='csspred/vendor/select2/select2.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='csspred/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='csspred/css/main.css')}}">
    <title>Deteksi Awal Gejala Covid-19</title>
</head>

<body>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form" action="/" method="GET">
                {% if result == 1 %}
                    <span class="contact100-form-title">
                    ANDA {{probabilities}}% TERDETEKSI POSITIF COVID-19 dengan {{ model_selected }} 
                    </span>

                {% elif result == 0 %}
                    <span class="contact100-form-title">
                    ANDA {{probabilities}}% TERDETEKSI NEGATIF COVID-19 dengan {{ model_selected }}
                    </span>
                 {% endif %}
                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn">
                            <span>
                                <a href=" http://127.0.0.1:5000/index" style="text-decoration: none">prediction</a>
                            </span>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>